<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum Page</title>
</head>
<body>
    <div class="container">
        <h1>All Museums</h1>

        <ul>
            <% for(let museum of museums){ %>
            <li><a href="/museums/<%= museum._id %>"><%= museum.name %></a></li>
            <% } %>
        </ul>
    </div>
</body>
</html>